body {
    padding: 20px;
    background-color: #121212; /* Dark background for the body */
    color: #E0E0E0; /* Light text color for readability */
}
.table {
	background-color: #2F2F2F;
	color: #fff
}
.modal-content {
	background-color: #2F2F2F;
}
.modal-header .close {
	color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-right: 10px;
}

.header-titles {
    flex-grow: 1;
    color: #FFFFFF; 
}

.moon-icon,
.wizard-icon,
.cog-icon {
    cursor: pointer;
    margin-left: 10px;
    color: #E0E0E0; 
}

#configWizardModal .modal-dialog {
    max-width: 950px;
    background-color: #242424; 
    color: #E0E0E0; 
}


#output,
#perf-bot-output,
#xuni_farming_output,
#output_market {
    white-space: pre-wrap;
    background-color: #1e1e1e; /* Darker background for output areas */
    border: 1px solid #444; /* Darker border color */
    color: #dcdcdc; /* Light text color for content */
    padding: 10px;
    margin-top: 20px;
    height: 300px;
    overflow-y: scroll;
	font-family: 'Courier New', Courier, monospace;
}
#dust_removal_output,
#instance-rebuilder-output {
    white-space: pre-wrap;
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 20px;
    height: 200px;
    overflow-y: scroll;
	text-align: left;
	font-size: 15px;
	font-family: 'Courier New', Courier, monospace;
}

#status {
    margin-top: 10px;
    margin-bottom: 20px;
    color: #E0E0E0; /* Light text color for better visibility */
}

/* Adjusting active tab background to fit dark theme */
.nav-tabs .nav-link.active {
    background-color: #333;
    border-color: #444 #444 #333;
    color: #E0E0E0; /* Light text color for active tab */
}

#perf-bot-table {
  border: 2px solid #3498db;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow-x: auto;
  color: #ecf0f1; /* Light text color */
}

#perf-bot-table table {
  border-collapse: collapse;
  width: 80%;
  background-color: #121212;
}

#perf-bot-table th, #perf-bot-table td {
  border: 1px solid #34495e; /* Darker border color */
  text-align: center; /* Center text in table cells */
  padding: 8px;
}

#perf-bot-table th {
  background-color: #2C2C2C;
  color: white;
  white-space: nowrap;
}

#perf-bot-table tr:nth-child(even) {
  background-color: #192B3E; /* Slightly darker background color for even rows */
}

#perf-bot-table tr:hover {
  background-color: #2c3e50; /* Dark background color on hover */
}
#perf-bot-table.full-width {
  width: 100%;
  max-width: 100%;  
  overflow-x: visible;
  box-sizing: border-box;
}


.pointing-arrow-s1 {
    position: absolute;
    top: -550px;
    right: 55px;
    font-size: 4rem;
    color: red;
    transform: rotate(90deg);
    z-index: 10;
    animation: moveArrow 2s ease-in-out infinite alternate; /* Animation properties */
}

.pointing-arrow-s2 {
    position: absolute;
    top: -550px;
    left: 30px;
    font-size: 4rem;
    color: red;
    transform: rotate(90deg);
    z-index: 10;
    animation: moveArrow 2s ease-in-out infinite alternate; /* Animation properties */
}

/* Keyframes for the animation */
@keyframes moveArrow {
    0% {
        transform: rotate(90deg) translateY(0); /* Initial position */
    }
    100% {
        transform: rotate(90deg) translateY(20px); /* Final position (adjust translateY as needed) */
    }
}

.key-box {
    display: inline-block;
    background-color: #2C2C2C;
    border: 1px solid #444;
    border-radius: 4px;
    padding: 2px 6px;
    font-family: monospace;
    margin: 2px;
	color: #E0E0E0
}

/* CSS to align the "X" button */
td button.btn-danger {
    vertical-align: middle;
}

/* Styles for the balance info display */
.header-info {
    display: flex;
    align-items: center;
}

.balance-info-positioning {
    margin-right: 20px; /* Add some space between the balance info and the icons */
    background-color: #4E4E4E; /* Optional: if you want a different background */
    padding: 5px 10px;
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Optional: add a subtle shadow */
    font-size: 1rem;
    color: #E0E0E0;
	cursor: pointer;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

@media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start; /* Align items to the start on smaller screens */
    }
    
    .header-titles,
    .header-info {
        width: 100%; /* Full width on smaller screens */
    }
    
    .balance-info-positioning {
        order: -1; /* Make the balance info appear above the icons on smaller screens */
        margin-bottom: 10px; /* Add space below the balance info */
    }
    
    .icons {
        margin-top: 10px; /* Add space above the icons */
    }
}

.header-actions {
    display: flex;
    align-items: center;
}

/* Add this CSS for the centered market-table */
.market-table {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.market-table table {
    background-color: #242424; /* Darker background for market table */
    width: auto;
    border-collapse: collapse;
	border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.market-table th, .market-table td {
    padding: 10px;
    text-align: center;
}


/* Match content width */
.market-table th {
    white-space: nowrap;
}

.market-table td {
    width: 1%;
    white-space: nowrap;
}

/* Add space between fields */
.market-table td:not(:last-child) {
    padding-right: 10px;
}
.form-control.narrow-input {
    width: auto;
    margin: 0 auto;
    text-align: center;
}

.title {
    font-size: 28px;
    color: #E0E0E0;
    background-color: #1E1E1E;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.custom-alert {
        background-color: #343a40; /* Dark Green background color */
        color: #E0E0E0; /* Text color */
        font-weight: bold; /* Bold text */
		border-color: #218838; /* Border color */
}

.tool-tile {
    position: relative;
    font-size: 18px;
    color: #E0E0E0;
    background-color: #2D2D2D;
    padding: 20px;
    margin-bottom: 20px;
    border: 3px solid #17a2b8;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease;
}

.tool-tile2 {
    background-color: #46464A;
}

.tool-tile:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    border-color: #138496;
}

.tool-title {
    font-size: 33px;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.tool-title i {
    margin-right: 20px; 
    font-size: 36px; 
}

.tool-content {
    display: none;
    text-align: center;
    padding-top: 10px;
}


.donate-container {
   /* background: linear-gradient(135deg, #6e8efb, #a777e3); */
	background: linear-gradient(135deg, #05252B, #8858c1);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,.2);
    color: #E0E0E0;
    max-width: 500px;
    margin: 20px auto;
    text-align: center;
}

.donate-title {
    margin-bottom: 20px;
    font-size: 28px;
}

.donate-description {
    margin-bottom: 30px;
    font-size: 16px;
}

.donate-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-field {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
}

.form-field i {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 20px;
}

.form-field input {
    width: 100%;
    padding: 15px 20px 15px 45px;
    border-radius: 50px;
    border: none;
    background-color: rgba(255,255,255,0.2);
    color: #fff;
    font-size: 16px;
    outline: none;
    transition: background-color 0.3s;
}

.form-field input::placeholder {
    color: #eee;
}

.form-field input:focus {
    background-color: rgba(255,255,255,0.3);
}

.donate-button {
    background-color: #ff7675;
    color: #fff;
    border: none;
    padding: 15px 40px;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.donate-button:hover {
    background-color: #fa5252;
}

.donate-button i {
    font-size: 20px;
}

.donate-alt-method {
    margin-top: 40px;
    color: #fff;
    font-size: 14px;
}

.eth-address {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    color: #fff; 
    padding: 5px 10px;
    border-radius: 5px;
    font-family: monospace;
    margin-top: 5px;
    width: 343px;
    cursor: pointer; 
}

.eth-address:focus {
    outline: none; 
}

.social-icons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.social-icon {
    margin: 0 10px;
    font-size: 24px;
    color: #fff;
    text-decoration: none;
}

.social-icon:hover {
    color: #1DA1F2; /* Adjusted hover color for better visibility against dark backgrounds */
}

#additional-balance-info {
    background-color: #242424; /* Light background for contrast */
    color: #E0E0E0; /* Dark text for readability */
    border-radius: 8px; /* Rounded corners */
    padding: 20px; /* Increased padding for spacing */
    box-shadow: none; /* Remove box shadow to avoid nesting */
    /*line-height: 1.8;  Increase line spacing for readability */
    /*font-size: 1.2rem;  Larger font size for improved readability */
    text-align: left; /* Align the text to the left */
	margin-bottom: 20px;
}

.mining-container {
    background: linear-gradient(135deg, #05252B, #8858c1);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,.2);
    color: #fff;
    max-width: 90%;
    margin: 20px auto;
    text-align: center;
}

.mining-title {
    margin-bottom: 40px;
    font-size: 50px;
    text-transform: uppercase;
}

.mining-stats {
    margin-top: 20px;
    color: #fff;
    font-size: 16px;
    text-align: center;
}

.mining-stats table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 50%;
}

.mining-stats table td, .mining-stats table th {
    border: 1px solid #fff;
    padding: 7px;
}

.mining-stats table th {
    background-color: #2e2e2e;
    color: #fff;
}

.mining-stats table tr:nth-child(even) {
    background-color: #464646;
}

.mining-stats table tr:hover {
    background-color: #3498db;
}

.custom-p {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    color: #fff; 
    padding: 5px 10px;
    border-radius: 5px;
    font-family: monospace;
    margin-top: 5px;
    cursor: pointer; 
}
.mining-info {
    margin-top: 20px;
    font-size: 14px;
    color: #888;
    text-align: center;
}

.mining-info a {
    color: #3498db; /* Link color */
    text-decoration: none;
}

.mining-info a:hover {
    text-decoration: underline; /* Underline on hover */
}
.console-button {
    padding: 10px 15px;
	margin-bottom: 10px;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
}

.console-button:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}
.instances-container {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
	font-size: 14px;
}

.instances-container td {
	padding: 0.2rem;
	vertical-align: middle;
	margin-left: 0px;
}

.gpu_name_instances {
	font-family: Roboto, sans-serif;
    font-size: 44px; 
    color: #ffffff;
	display: flex;
	align-items: center;
	height: 11px;
	margin-top: 20px;
}
.mining_stats {
	font-family: Roboto, sans-serif;
	margin-top: 20px;
	height: 0px;
	font-size: 14px;
}

#reboot-instance-form,
#rebuild-instance-form,
#destroyForm {
    display: inline-block;
    margin-right: 3px; 
}
  .gpu_status_badge {
    margin-left: auto;
    font-size: 60%;
  }

  